* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  background-color: black;
  font-size: 12px;
}

div {
  display: block;
}

.notes-app {
  margin: 0 auto;
}

.notes-app h2 {
  font-weight: normal;
}

.notes-header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
}

.search-bar {
  width: 300px;
  height: 48px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  color: grey;
  font-weight:bold;
  opacity: 1; /* Firefox */
}

.search-bar::-ms-input-placeholder { /* Edge 12 -18 */
  color: grey;
  font-weight:bold;
}

.note-app__body {
  margin: 10px auto;
  max-width: 800px;
  padding: 12px;
}

.note-input {
  margin: 40px auto;
  max-width: 500px;
}

.note-input__title {
  margin: 15px 0;
}

.input-bar {
  width: 500px;
  min-height: 32px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.input-bar:focus {
  outline: none;
}

.input-bar::placeholder {
  color: grey;
  font-weight:bold;
  opacity: 1; /* Firefox */
}

.counter {
  text-align: right;
  margin: 10px 0;
}

.textarea {
  margin: 10px 0;
  min-height: 150px;
}

.btn-note {
  width: 500px;
  height: 40px;
  background-color: black;
  color: grey;
  border: 2px solid grey;
  border-radius: 5px;
  font-weight: 800;
}

.note-list {
  margin: 40px auto;
  max-width: 800px;
}

.note-list__body {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
  grid-template-rows: minmax(min-content,max-content);
  justify-content: space-between;
}

.note-list__empty {
  width: 100%;
  text-align: center;
}

.note-list__empty h3{
  font-weight: normal;
}

.note-item {
  border: 2px solid grey;
  border-radius: 5px;
  max-width: 250px;
  min-height: 280px;
}

.note-item__header {
  padding: 10px 5px 10px 10px;
  border-bottom: 2px solid grey;
}

.note-item__header h3{
  font-size: 18px;
}

.note-item__header h4{
  margin-top: 2px;
  font-weight: 500;
  color: whitesmoke;
}

.note-item__body {
  padding: 10px 5px 10px 10px;
  border-bottom: 2px solid grey;
  min-height: 180px;
}

.note-item__delete {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0px;
  height: 30px;
  color: red;
  text-decoration: none;
}